$section-headings: (
  h2: $spacer * 3,
  h3: $spacer * 2
);

.seibootcamps-document {
  @each $h in $headings {
    #{$h} {
      @extend .text-body-emphasis;
    }
  }

  // Title of the document
  section {
    margin-block-start: ($spacer * 2);
    margin-block-end: ($spacer * 2);

    > h1 {
      @include font-size($font-size-base * 3);
    }
  }

  // Section headings
  @each $h, $mt in $section-headings {
    section > section > #{$h} {
      @include margin-top($mt);
    }
  }

  li > p {
    @include margin-bottom(map-get($spacers, 1));
  }
}

pre {
  font-size: .8em;
}

cite {
  font-weight: 500;
  color: var(--bs-emphasis-color);
}
