%seibootcamps-layout-full-width {
  width: calc(100vw - $sidebar-max-width - map-get($spacers, 5));
}

// Widths
.w-full {
  @extend %seibootcamps-layout-full-width;
}

// List styles
ol {
  list-style: decimal;
}

.upperalpha,
.alpha {
  list-style: upper-alpha;
}

.loweralpha {
  list-style: lower-alpha;
}

.upperroman,
.roman {
  list-style: upper-roman;
}

.lowerroman {
  list-style: lower-roman;
}
