/// scss/_variables.scss
/// Do not put variables used to configure Bootstrap here. Those should
/// go in scss/_bootstrap.scss instead. This file is for variables
/// specific to our styles, not Bootstrap's.

$headings: h1, h2, h3, h4, h5, h6;
$content-blocks: ".highlight";
$nested-line-height: 1.2; // line height for content that's *semantically* nested inside main document.
