$headings: h1, h2, h3, h4, h5, h6;
$content-blocks: ".highlight";
$nested-content-line-height: 1.2;

%scrollbar {
  width: $font-size-base;
}

%scrollbar-track {
  background: var(--bs-secondary-color);
  border-top-right-radius: var(--bs-card-border-radius);
  border-bottom-right-radius: var(--bs-card-border-radius);
}

// Generate utility classes

$sei-colors: (
  "blue": $blue,
  "blue-light": $blue-300,
  "blue-dark": $blue-700,
  "indigo": $indigo,
  "indigo-light": $indigo-300,
  "indigo-dark": $indigo-700,
  "purple": $purple,
  "purple-light": $purple-300,
  "purple-dark": $purple-700,
  "pink": $pink,
  "pink-light": $pink-300,
  "pink-dark": $pink-700,
  "red": $red,
  "red-light": $red-300,
  "red-dark": $red-700,
  "orange": $orange,
  "orange-light": $orange-300,
  "orange-dark": $orange-700,
  "yellow": $yellow,
  "yellow-light": $yellow-300,
  "yellow-dark": $yellow-700,
  "green": $green,
  "green-light": $green-300,
  "green-dark": $green-700,
  "teal": $teal,
  "teal-light": $teal-300,
  "teal-dark": $teal-700,
  "cyan": $cyan,
  "cyan-light": $cyan-300,
  "cyan-dark": $cyan-700,
);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $sei-colors
          ),
        ),
      ),
    ),
  )
);
