.seibootcamps-document {
  /* stylelint-disable selector-max-type */
  & > section > p:first-of-type {
    @extend .lead;

    %lead-inline {
      font-weight: inherit;
      color: inherit;
    }

    code {
      @extend %lead-inline;
    }

    cite {
      @extend %lead-inline;
      font-weight: 400;
    }
  }
}
